* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

.nav-middle .search-box {
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
    margin-right: 15px;
}